*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1 rem definition
  font-size: 62.5%; // 1rem == 10px
  box-sizing: border-box;

  @include respond(phone-medium) {
    font-size: 50%;
  }
}

body {
  min-width: 320px;
  background-color: $color-black-dark-1;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
