@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// MEDIA QUERIES

/*
320 - 400           Small Phone
480 - 600           Medium Phone
600 - 720           Phone
720 - 1000          Tablet
1000 - infinity     Desktop (default style)
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media only screen and (max-width: 25em) { @content; }  // 400px
  }
  @if $breakpoint == phone-medium {
    @media only screen and (max-width: 37.5em) { @content; }  // 600px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 45em) { @content; }  // 720px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 62.5em) { @content; } // 1000px
  }
}
