// COLORS

$color-black-dark-1: #101114;
$color-black-dark-2: #191c24;
$color-black-dark-3: #22252d;

$color-black-light-1: #1f2229;
$color-black-light-2: #2a2d37;
$color-black-light-3: #272b30;
$color-black-light-4: #292c36;

$color-grey-blue-1: #8494ab;
$color-grey-blue-2: #808592;
$color-grey-blue-3: #89909d;

$color-blue-light: #005abf;
$color-blue-dark: #004ca2;

$color-white: #ffffff;

$color-grey-light-1: #f7f8f8;
$color-grey-light-2: #e4e9ee;
$color-grey-light-3: #bec6cf;

$color-grey-dark-1: #373c43;
$color-grey-dark-2: #383d43;

// FONTS

$default-font-size: 1.6rem;
$default-line-height: 2.1rem;

// GRID

$grid-width: 96rem;
