.navigation {
  position: relative;
  width: 33.3334%;
  max-width: 32rem;
  float: left;

  @include respond(phone) {
    width: 100%;
    max-width: 100%;
    min-height: 5rem;
  }

  // Кнопка "Гамбургер"

  &__button {
    display: none;
    position: absolute;
    right: 3rem;
    top: 0.5rem;
    width: 4rem;
    height: 4rem;
    border: none;
    background: none;

    @include respond(phone) {
      display: block;
    }
  }

  &__icon {
    top: 50%;
    margin-top: -1px;

    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $color-grey-light-1;
      transition: all 0.2s ease;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &__button--opened &__icon {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  // Конец Кнопка "Гамбургер"

  &__item {
    display: block;
  }

  &__list {
    list-style: none;
    border-top: 1px solid $color-black-dark-3;

    // Мобильное меню

    @include respond(phone) {
      visibility: hidden;
      position: absolute;
      top: 5rem;
      left: -75%;
      width: 75%;
      z-index: 10;
      transition: 0.5s ease;
      transition-delay: 0.1s;

      &--opened {
        visibility: visible;
        left: 0;
      }
    }
  }

  &__link {
    display: block;
    padding: 2.5rem 3rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $color-white;
    background-color: $color-black-light-1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;

    @include respond(phone) {
      padding-left: 5rem;
    }

    &--active {
      color: $color-grey-blue-2;
      background-color: $color-black-light-2;
      border-top: 1px solid rgba($color-black-light-4, 0.5);
    }

    &--dark {
      background-color: $color-black-dark-2;
    }

    &--logout {
      color: $color-grey-blue-2;
      border-top: 1px solid rgba($color-black-light-4, 0.42);
    }

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-black-light-2;
    }

    &:active {
      color: rgba($color-white, 0.5);
      background-color: $color-black-light-2;
    }
  }
}
