<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <!-- Контейнер -->
    <div class="container">
      <!-- Навигация -->
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="#">Личный кабинет</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link navigation__link--active" href="#">Платежи</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#">История платежей</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link navigation__link--dark" href="#">Настройки</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link navigation__link--logout navigation__link--dark " href="#">Выйти</a>
          </li>
        </ul>
      </nav> <!-- Конец Навигация -->

      <!-- Основной блок -->
      <div class="content">

        <main class="main payment">
          <table class="payment__info">
            <caption>Информация по оплате:</caption>
            <tbody>
              <tr>
                <th scope="row">Номер счета:</th>
                <td>87123658716587</td>
              </tr>
              <tr>
                <th scope="row">Сумма платежа:</th>
                <td>100 руб.</td>
              </tr>
            </tbody>
          </table>
          <h2 class="payment__heading">Данные банковской карты</h2>

          <!-- Форма оплаты картой -->

          <form action="#" class="payment__form card-form">
            <div class="card-form__card">
              <!-- Лицевая часть карты -->

              <div class="card-form__side card-form__side--front">

                <fieldset class="card-form__fieldset">
                  <legend class="card-form__label">Номер карты</legend>
                  <div class="card-form__number">
                    <input class="card-form__input card-form__input--digit" type="text" name="card-1"
                      placeholder="0000" autocomplete="off" maxlength="4">
                    <input class="card-form__input card-form__input--digit" type="text" name="card-2"
                      placeholder="0000" autocomplete="off" maxlength="4">
                    <input class="card-form__input card-form__input--digit" type="text" name="card-3"
                      placeholder="0000" autocomplete="off" maxlength="4">
                    <input class="card-form__input card-form__input--digit" type="text" name="card-4"
                      placeholder="0000" autocomplete="off" maxlength="4">
                  </div>
                </fieldset>

                <fieldset class="card-form__fieldset card-form__fieldset--validity">
                  <legend class="card-form__label">Срок действия</legend>

                  <div class="card-form__select card-form__select--month">
                    <label for="card-month" class="visually-hidden">Месяц</label>
                    <select id="card-month" name="card-month">
                      <option value="1">01</option>
                      <option value="2">02</option>
                      <option value="3">03</option>
                      <option value="4" selected>04</option>
                      <option value="5">05</option>
                      <option value="6">06</option>
                      <option value="7">07</option>
                      <option value="8">08</option>
                      <option value="9">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>

                  <div class="card-form__select card-form__select--year">
                    <label for="card-year" class="visually-hidden">Год</label>
                    <select id="card-year" name="card-year">
                      <option value="2019" selected>2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                    </select>
                  </div>

                </fieldset>

                <label class="visually-hidden" for="card-holder">Имя владельца</label>
                <input class="card-form__input card-form__input--name" id="card-holder" name="card-holder" type="text" placeholder="Держатель карты">
              </div> <!-- Конец Лицевая часть карты -->

              <!-- Обратная часть карты -->

              <div class="card-form__side card-form__side--back">
                <div class="card-form__cvv">
                  <label class="card-form__label" for="card-cvv">Код CVV2 / CVC2</label>
                  <input class="card-form__input card-form__input--cvv" type="text"
                    id="card-cvv" placeholder="000" maxlength="3">
                </div>
              </div> <!-- Конец Обратная часть карты -->

            </div>

            <button class="button button--blue" type="submit">Оплатить</button>
          </form> <!-- Конец Форма оплаты картой -->
        </main>

        <!-- Блок подвал -->
        <footer class="footer">
          <p class="footer__paragraph">Исходя из астатической системы координат Булгакова, соединение стабильно. Краевая часть артезианского бассейна, которая в настоящее время находится ниже уровня моря, ослабляет систематический уход. Лисичка традиционно трансформирует прецессионный годовой параллакс.</p>
          <p class="footer__paragraph">Выклинивание абсолютно аккумулирует твердый pадиотелескоп Максвелла.</p>
          <p class="footer__paragraph">Алмаз слагает горст. Делювий длительно колеблет лазерный подвижный объект.</p>
          <p class="footer__paragraph">Устойчивость, например, параллельна. Аргумент перигелия определяет боксит. Проекция вертикально дает уходящий диабаз. Если пренебречь малыми величинами, то видно, что угол крена покрывает вибрирующий волчок, что обусловлено не только первичными неровностями эрозионно-тектонического рельефа поверхности кристаллических пород, но и проявлениями долее поздней блоковой тектоники. Засветка неба заставляет иначе взглянуть на то, что такое волчок.</p>
        </footer> <!-- Конец Блок подвал -->

      </div> <!--  Конец Основной блок -->

    </div> <!-- Конец Контейнер -->

  </body>
</html>
